body {
    text-align: center;
}
#img-div {
    display: flex;
    flex-direction: column;
}
#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
#img-caption {
    margin: auto;
}
.list {
    text-align: left;
    display: flex;
    flex-direction: column;
}
#tribute-info {
    margin-left: 20px;
}