body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
#title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#img-div, .list {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img-div {
    background-color: lightgrey;
}
#image {
    display: block;
    max-width: 100%;
    height: auto;
    padding-top: 25px;
}
#img-caption {
    padding: 5px 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80%;
}
#img-caption, .list {
    max-width: 956px;
}
#tribute-info {
    margin-bottom: 5px;
}
ul {
    margin-top: 0;
    padding-left: 20px;
    text-align: justify;
}