body {
    display: flex;
}
#navbar {
    background-color: white;
    width: 100%;
    z-index: 1;
}
header {
    text-align: center;
    font-weight: bold;
}
/* if max width 815px and below */
@media only screen and (max-width: 815px) {
    body {
        flex-direction: column;
    }
    #navbar {
        position: fixed;
    }
    #navbar ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }
    #navbar li {
        display: inline;
    }
    #navbar header,#navbar ul{
        padding-right: 16px;
    }
    /* makes margin spaces so they won't collide with fixed pos. navbar */
    #main-doc {
        margin-top: 158px;
    }
}
@media only screen and (min-width: 816px) {
    /* body {
        display: flex;
    } */
}