#navbar {
    display: flex;
    justify-content: flex-end;

    position: fixed;
    top: 0; left: 0;
    width: 100%;
}
#navbar ul {
    display: inherit;
    flex-direction: row;

    list-style-type: none;
}
#navbar li {
    padding: 0 2vw;
}
#navbar a {
    text-decoration: none;
}
#navbar h2 {
    margin: 0;
}
#welcome-section {
    height: 100vh;
}

.carousel-container {
    display: flex;
    justify-content: center;
    height: 300px;
}
.slide {
    /* just display one of a time */
    display: none;
    width: 500px;
}

@media only screen and (max-width: 500px) {
    #navbar ul {
        flex-direction: column;
    }
    #navbar h2 {
        margin: 5px 0;
    }
}